.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
./node_modules
./apps/admin/node_modules
./apps/funding/node_modules
./apps/main/node_modules
./apps/mypage/node_modules
./apps/payment/node_modules
./apps/statistics/node_modules
